<main class="page bg-white" id="petratings">
  <div class="container">
    <div class="row">
      <div class="col-md-12 bg-white">

        <div class="container">
          <h2 class="py-3">{{title}}</h2>
          <app-add (addEvt)="addTask($event)"></app-add>
          <app-lane [taskLanes]="Lanes" [laneTaskList]="theList" class="col col-lg-12  d-flex"></app-lane>
          <!-- <app-list [taskList]="theList" (deleteEvent)="deleteTask($event)" (updateEvent)="updateTask($event)" ></app-list> -->
        </div>

      </div><!-- col-md-12 -->
    </div><!-- row -->
  </div><!-- container -->
</main><!-- main -->