<main class="page bg-white" id="petratings">
  <div class="container">
    <div class="row">
      <div class="col-12 bg-white">

        <div class="container">
          <h2 class="py-3">{{title}}</h2>
          <app-add (addEvt)="addTask($event)"></app-add>
          <div class="row flex-row flex-wrap">
            <app-lane 
            [taskLanes]="Lanes"
            [laneTaskList]="theList" 
            (deleteEvent)="deleteTask($event)"
            (updateEvent)="updateTask($event)"
            (DragEvent)="onDragover($event)"
            (DndDropEvent)="onDrop($event)"
            (DragStart)="onDragStart($event)"
            ></app-lane>
          </div>
        </div>

      </div><!-- col-md-12 -->
    </div><!-- row -->
  </div><!-- container -->
</main><!-- main -->