<div class="d-inline-flex col-md-4 col-sm-12" *ngFor="let item of taskLanes">
    <div class="list my-3 mx-1 flex-fill" 
    dndDropzone
    (dndDragover)="handleDragover(item)"
    (dndDrop)="handleDrop(item)">
        <h2 class="list-title">{{item.title}}</h2>
            <app-task [taskList]="laneTaskList" [taskLane]="item"
            (deleteEvent)="handleDelete($event)"
            (updateEvent)="handleUpdate($event)"
            (DragStart)="handleDragStart($event)"
            
            ></app-task>
    </div>
</div>
